/* styles/globals.css */
@font-face {
    font-family: 'Roadradio-Thin';
    src: url('/fonts/RoadRadio-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roadradio-Bold';
    src: url('/fonts/RoadRadio-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tech-Mono';
    src: url('/fonts/ShareTechMono-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}